.cartoonCharacters {
  margin: 10px;
  color: purple;
  background-color: orange;
  padding: 5px 10px;
  border-radius: 4px;
}

.cartoonCharacters:hover {
  background-color: greenyellow;
}
.gif-item {
  float: left;
  padding: 10px;
}

body {
  background-image: url("../images/GIFBG.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#submit {
  margin-top: 20px;
  background-color: green;
  padding: 5px 10px;
  border-radius: 4px;
}

p {
  color: aqua;
}
